$red: rgb(196, 45, 45);

.project {
  background: rgb(15, 22, 36);
  border-radius: 20px;
  box-shadow: rgba(80, 78, 78, 0.5) 3px 3px 20px;
  color: white;
  padding-bottom: 15px;
  text-align: center;
  width: 300px;
  width: 300px;

  h3 {
    font-size: 30px;
    margin: 5px;
  }

  button {
    background-color: $red;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    margin: 0 20px;
    padding: 10px 25px;

    &:nth-child(4) {
      background: none;
      border: 1px $red solid;

      a {
        color: $red;
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.1s;
    }
  }

  .image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;
    width: 100%;
  }

  &:nth-child(1) .image {
    background: url("../../../assets/images/xupe.png") center
      center no-repeat;
    background-size: cover;
  }

  &:nth-child(2) .image {
    background: url("../../../assets/images/restaurant-page.png") center
      center no-repeat;
    background-size: cover;
  }

  &:nth-child(3) .image {
    background: url("../../../assets/images/premium-landing-page.png") center center
      no-repeat;
    background-size: cover;
  }

  &:nth-child(4) .image {
    background: url("../../../assets/images/space-landing-page.png") center center
      no-repeat;
    background-size: cover;
  }

  &:nth-child(5) .image {
    background: url("../../../assets/images/multistep-form.jpeg") center center
      no-repeat;
    background-size: cover;
  }

  &:nth-child(6) .image {
    background: url("../../../assets/images/snake-game.jpg") center center
      no-repeat;
    background-size: cover;
  }
}
