nav {
  svg {
    margin: 15px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;

    &.hidden {
      opacity: 0;
    }
  }

  ul {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.8s;
    width: 100%;
    z-index: 1;

    &.active {
      transform: translateX(0);

      li {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    li {
      font-size: 60px;
      letter-spacing: 5px;
      margin: 0;
      opacity: 0;
      transform: translateX(100px);
      transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s;

      &:before,
      &:after {
        content: attr(data-glitch);
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &:before {
        color: #0ff;
        z-index: -1;
      }
      &:after {
        color: #f0f;
        z-index: -2;
      }
      &:hover {
        &:before {
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
            infinite;
        }
        &:after {
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
            both infinite;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  svg {
    height: 60px;
    width: 60px;
  }
}

.glitch {
  color: #fff;
  left: 50%;
  letter-spacing: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &:before,
  &:after {
    content: attr(data-glitch);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
    }
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  to {
    transform: translate(0);
  }
}
